/* === Global Styles === */
body {
    background-color: #121212;
    color: #fff;
}

/* === Navbar === */
.navbar {
    background-color: #1c1c1c;
    border-bottom: 2px solid #ff6f00;
}

.navbar-brand {
    font-weight: bold;
    color: #ff6f00 !important;
    letter-spacing: 1px;
}

.nav-link,
.dropdown-item {
    color: #fff !important;
}

.nav-link:hover,
.dropdown-item:hover {
    color: #ff6f00 !important;
}

/* === Movie Cards === */
.movie-card {
    background-color: #1f1f1f;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.2s;
}

.movie-card img {
    width: 100%;
    height: 350px; /* выбери нужную высоту */
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.movie-card:hover {
    transform: translateY(-5px);
}

/* === Buttons === */
.btn-orange {
    background-color: #ff6f00;
    color: white;
}

.btn-orange:hover {
    background-color: #e65c00;
}

/* === Footer === */
footer {
    background-color: #1c1c1c;
    padding: 20px;
    color: #aaa;
    text-align: center;
    margin-top: 50px;
}
